#home{
    background: url('https://images.pexels.com/photos/716398/pexels-photo-716398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 220px;
    color: #fff;;
    width: 100%;


}