#display-Quotes{
    margin-top: 60px;
    /* background-color:#bbb ; */
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#output-quotes{
    border: 1px solid #000;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 1px #000;
    text-align: center;
}
#output-quotes:hover{
    box-shadow: 0 0 8px #000;
}